In [132]:
import pymongo
import urllib

In [133]:
client = pymongo.MongoClient("localhost")

In [134]:
db = client['adnan']

In [135]:
# Reading the methods
# dir(db)

In [136]:
# Listing the collections that our db has
db.list_collection_names()

['blogs']

In [137]:
collection = db['blogs']

In [138]:
# Methods of collections
# dir(collection)

In [139]:
# Data
data = {"name" : "adnan",
        "age"  : 17,
        "marks" : 35
       }

In [140]:
# Insert one
collection.insert_one(data)

In [141]:
# Multiple records
records = [
    {"name" : "ali",
     "age" : 10,
     "marks" : 20
    },
    {"name" : "kanwar",
     "age" : 30,
     "marks" : 40
    },
    {"name" : "dani",
     "age" : 50,
     "marks" : 60
    }
]

In [142]:
# Insert many
collection.insert_many(records)

In [143]:
# update one
collection.update_one({"name" : "adnan"},{ "$set" : {"name" : "Adnan"}})

In [144]:
# delete one
collection.delete_many({"name" : "Adnan"})

In [145]:
# delete many
# collection.delete_many({})

In [146]:
# printing the collections data
for i in collection.find():
    print(i)

{'_id': ObjectId('630bad1af863a1fa1c065ebb'), 'name': 'ali', 'age': 10, 'marks': 20}
{'_id': ObjectId('630bad1af863a1fa1c065ebc'), 'name': 'kanwar', 'age': 30, 'marks': 40}
{'_id': ObjectId('630bad1af863a1fa1c065ebd'), 'name': 'dani', 'age': 50, 'marks': 60}
{'_id': ObjectId('630bad24f863a1fa1c065ec0'), 'name': 'ali', 'age': 10, 'marks': 20}
{'_id': ObjectId('630bad24f863a1fa1c065ec1'), 'name': 'kanwar', 'age': 30, 'marks': 40}
{'_id': ObjectId('630bad24f863a1fa1c065ec2'), 'name': 'dani', 'age': 50, 'marks': 60}